h1, h2, h3, h4, h5, h6 {
  color:  #fff;
}

h1 {
  font-family: Raleway,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif
}

article a {
  color: #8F8F8F !important;
  transition: color 200ms ease-in-out;
}

article a:hover {
  color: white !important;
}

/* Hack: inject styles on repo titles. */
a.repotitle:hover {
  /*color: darkgrey !important;*/
  color: #227EC0 !important;
  text-decoration: none;
}
